<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <div class="container">
      <div class="row">
          <h1>Gestor de Clientes</h1>
          <button on-click="obtenerClientes" class="btn btn-success" type="button" name="button">Obtener Clientes</button>
          <button on-click="insertarCliente" class="btn btn-success" type="button" name="button">Insertar Cliente</button>
      </div>
      <div class="row">
        <table class="table-striped">
          <tbody>
            <template is="dom-repeat" items={{clientes}}>
              <tr>
                <td>
                  [[item.CustomerID]]
                </td>
                <td>
                  [[item.ContactName]]
                </td>
                <td>
                  [[item.CompanyName]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>

    <!--h2>Hello [[prop1]]!</h2-->

    <!--h3>Valor = [[prop2]]</h3-->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }
      obtenerClientes(){
        var url="https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var request = new XMLHttpRequest();
        request.open("GET", url, false);
        request.setRequestHeader("Accept","application/json");
        request.send();

        this.clientes = JSON.parse(request.responseText).value;
        console.table(this.clientes);
      }
      insertarCliente(){
        var url="https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var request = new XMLHttpRequest();
        request.open("POST", url, false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");
        var nuevoCliente = {"CustomerID":"12345",
                            "ContactName":"Junior",
                            "CompanyName":"BBVA"}
        console.log(nuevoCliente);

        var body = JSON.stringify(nuevoCliente);
        console.log(body);
        request.send(body);

        this.respuesta = request.responseText;
        console.log(this.respuesta);
      }
    }
    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
